<nav class="blue darken-2">
    <div class="nav-wrapper container">
      <a href="index.html" class="brand-logo">LIDAR Sensors</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="history.html">History</a></li>
        <li><a href="outreach.html">Outreach</a></li>
        <li><a href="sponsors.html">Sponsors</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
  </nav>
  